.textocart{
text-align: center;
margin: 0;
font-weight: 500;
color: #212121;
}

.total{
color: #54b4d3;
font-weight: 500;
text-decoration:underline;
text-decoration-color: rgba(0, 179, 255, 0.793);
}

